################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practicum25_2/.vs/Practicum25_2/v16
